/* General */

body {
	background-color: #B9DADA;
	font-size: 100%; /* Set baseline font size to 16px */
}

h1, h2 {
	color: #333;
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	text-transform: lowercase;
	margin-bottom: 0.5em;
}

.box {
	background-color: #eadddd;
}

/* Container */
div.container {
	background-color: #E6F0F2;
}

/* Header */

header {
	margin-top: 36px;
}

/* Poster */

textarea#post-text {
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 120%;
	height: 72px;
	resize: none;
	width: 510px;
}

button#post-button {
	bottom: 40px;
	position: relative;
}

/* Filter */

input#filter-text {
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 510px;
}

/* Feed */

div#feed {
	margin-top: 18px;
}

div.message {
	-moz-border-radius: 15px;
	background-color: #fff;
	border: 2px solid #77B8BA;
	border-radius: 15px;
	margin-bottom: 1.5em;
	padding: 1.5em;
	word-wrap: break-word;
}

div.message.own {
	border: 2px solid #DD8352;
}

div.message-info {
	float: right;
}

img.message-icon {
	height: 24px;
	vertical-align: middle;
}

p.sender-name {
	
}

/* Footer */
footer {
	margin-bottom: 36px;
}