<%#
Smokeparrot-LuCI - LuCI based interface for Smokeparrot

Copyright 2011 Torsti Schulz <torsti.schulz@iki.fi>

This file is part of the Smokeparrot.

Smokeparrot is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Smokeparrot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>
<br />
<hr class="nofloat" />
<br />
<div id="sp_footer">
  <p class="sp_copyright"><a href="https://gitorious.org/hearsay/smokeparrot">Smokeparrot</a> is free software under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3</a>. &copy;2011 Torsti Schulz</p>
  <p class="sp_prototype"><em>No parrots have been harmed in the production of this prototype.</em></p>
</div><!-- #sp_footer -->
