<div id="messages">
<% MESSAGE_STORE="$PREFIX/messages/" %>
<% MESSAGE_LIST=$(ls -l $MESSAGE_STORE | awk '{ print $9 }' | sort -r) %>
<% for MESSAGE_NAME in $MESSAGE_LIST; do %>
<%# Use different class for own messages. %>
<% if [ $(/bin/sed -n '5p' "$MESSAGE_STORE$MESSAGE_NAME") == "OWN" ]; %>
<% then %>
  <div class="own message">
<% else %>
  <div class="message">
<% fi %>
    <div class="message-info">
    <%# Use different symbols depending on sender, and distance to sender. %>
    <% if [ $(/bin/sed -n '5p' "$MESSAGE_STORE$MESSAGE_NAME") == "OWN" ]; %>
    <% then %>
      <img alt="Symbol for times resmoked." src="img/loop_arrow_cool.png" class="message-icon" title="Resmoked 0 times"> 0
      &nbsp;&nbsp;
      <img alt="Sent from this node." src="img/circles_source.png" class="message-icon" title="This is your node">
    <% else %>
      <img alt="Symbol for times resmoked." src="img/loop_arrow_cool.png" class="message-icon" title="Resmoked <% /bin/sed -n '6p' "$MESSAGE_STORE$MESSAGE_NAME" %> times"> <% echo -n $(/bin/sed -n '6p' "$MESSAGE_STORE$MESSAGE_NAME") %>
      &nbsp;&nbsp;
      <% case $(/bin/sed -n '6p' "$MESSAGE_STORE$MESSAGE_NAME") in %>
        <% [1-3]) echo '<img alt="Close distance to original sender." src="img/circles_close.png" class="message-icon" title="Node is at close distance">' ;; %>
        <% [4-8]) echo '<img alt="Medium distance to original sender." src="img/circles_medium.png" class="message-icon" title="Node is at medium distance">'  ;; %>
        <% *) echo '<img alt="Greater distance to original sender." src="img/circles_far.png" class="message-icon" title="Node is further away">' ;; %>
      <% esac %>
      <br>
    <% fi %>
    </div><!-- .message-info -->
    <p class="debug"><% echo -n $MESSAGE_NAME %></p>
    <p class="sender-name quiet"><% echo -n $(/bin/sed -n '10p' "$MESSAGE_STORE$MESSAGE_NAME") %></p>
    <p class="timestamp quiet">Originally sent on: <% date -D %s -d $(/bin/sed -n '2p' "$MESSAGE_STORE$MESSAGE_NAME") %></p>
    <hr>
    <p class="content"><% echo -n $(/bin/sed -n '12,$p' "$MESSAGE_STORE$MESSAGE_NAME" | awk '{ print $0 "<br>"}') %></p>
  </div><!-- .message -->
<% done %>           
</div><!-- #messages -->

